Bottleneck @ file:///D:/bld/bottleneck_1747241450383/work
cloudpickle @ file:///C:/b/abs_fdydcrc9_2/croot/cloudpickle_1751309451995/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
llvmlite @ file:///C:/b/abs_da51wefv9a/croot/llvmlite_1741209883316/work
numba @ file:///D:/bld/numba_1749491408125/work
numexpr @ file:///D:/bld/numexpr_1732736305814/work
numpy @ file:///D:/bld/numpy_1747544593094/work/dist/numpy-2.2.6-cp313-cp313-win_amd64.whl#sha256=e630dfcb24723ef73757347270e94dcac622946fb98c9b062d13b27bf8d7a0b7
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///C:/b/abs_d5idbck212/croot/pandas_1752872294545/work/dist/pandas-2.3.1-cp313-cp313-win_amd64.whl#sha256=87b3af3f2c3381ba62240a11c366b2ab9ad9f60dac86307f52c95bb0e55a34d6
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
scikit-learn @ file:///D:/bld/scikit-learn_1753180015919/work/dist/scikit_learn-1.7.1-cp313-cp313-win_amd64.whl#sha256=1b0dc52e4d585f34c592d9ff90ceb3cf5ca90ac14b2bf8d67ea9675884ddc10f
scipy @ file:///C:/bld/scipy-split_1751236112407/work/dist/scipy-1.16.0-cp313-cp313-win_amd64.whl#sha256=b7361dc75113834c689165d3d845f315ea449ab4c4cea0e445e41e5ddcddcd59
setuptools==78.1.1
shap @ file:///D:/bld/shap_1750151429663/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer @ file:///C:/b/abs_9azh8xikg2/croot/slicer_1747291662812/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
wheel==0.45.1
